@using BlogLife.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogPost>

@*Hero Section Start*@
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        @foreach (var post in Model.Take(2))
        {
            <div class="hero-item set-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <h2>@post.Title</h2>
                            <p>@post.Abstract</p>
                            <a href=@Url.Action("Details", "BlogPosts", new { slug = post.Slug }) class="site-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hero section end -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-posts">
                <div class="blog-post featured-post">
                    <img src="~/Images/computer-1245714_1920.jpg" alt="">
                    <div class="post-date">@Model.Last().Created.ToString("MMM dd, yyyy")</div>
                    <h3>@Html.Raw(Model.Last().Title)</h3>
                    <div class="post-metas">
                        <div class="post-meta">Brandon Swaney</div>
                        @*<div class="post-meta">in <a href="#">Games</a></div>*@
                        <div class="post-meta">@Model.Last().Comments.Count Comments</div>
                    </div>
                    <p>@Html.Raw(Model.Last().Abstract)</p>
                    <a href=@Url.Action("Details", "BlogPosts", new { slug = Model.Last().Slug }) class="site-btn">Read More</a>
                </div>
                <div class="row">
                    @foreach (var post in Model)
                    {
                        <div class="col-md-6">
                            <div class="blog-post">
                                <img src="" alt="">
                                <div class="post-date">@post.Created.ToString("MMM dd, yyyy")</div>
                                <h4>@post.Title</h4>
                                <div class="post-metas">
                                    <div class="post-meta">Brandon Swaney</div>
                                    @*<div class="post-meta">in <a href="#">Games</a></div>*@
                                    <div class="post-meta">@post.Comments.Count Comments</div>
                                </div>
                                <p>@post.Abstract</p>
                                <a href=@Url.Action("Details", "BlogPosts", new { slug = post.Slug }) class="read-more">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="sb-widget">
                    @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                    {
                        <div class="controls controls-row search-row">
                            <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                            <button id="searchStr" name="searchStr" class="btn btn-dark" type="submit">
                                <i class="icon-search">Go</i>
                            </button>
                        </div>
                    }
                </div>

                @*<div class="sb-widget">
                    <h2 class="sb-title">Categories</h2>
                    <ul class="sb-cata-list">
                        <li><a href="">Coding<span>0</span></a></li>
                        <li><a href="">Tips & Tricks<span>0</span></a></li>
                        <li><a href="">Community<span>0</span></a></li>
                        <li><a href="">Projects<span>0</span></a></li>
                    </ul>
                </div>*@
                <div class="sb-widget">
                    <h2 class="sb-title">Older Posts</h2>
                    <div class="latest-news-widget">
                        @foreach (var dot in Model.Skip(1).Take(5))
                        {
                            <div class="ln-item">
                                @*<img src="" alt="">*@
                                <div class="ln-text">
                                    <div class="ln-date">@dot.Created.ToString("MMM dd, yyyy")</div>
                                    <h6>@dot.Title</h6>
                                    <div class="ln-metas">
                                        <div class="ln-meta">Brandon</div>
                                        @*<div class="ln-meta">in <a href="#">Projects</a></div>*@
                                        <div class="ln-meta">@dot.Comments.Count Comments</div>
                                        <a href=@Url.Action("Details", "BlogPosts", new { slug = dot.Slug }) class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="sb-widget">
                                        <a href="#" class="add">
                                            <img src="img/add-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="sb-widget">
                                        <h2 class="sb-title">Latest Comments</h2>
                                        <div class="latest-comments-widget">
                                            <div class="lc-item">
                                                <img src="img/author-thumbs/1.jpg" alt="">
                                                <div class="lc-text">
                                                    <h6>Jane Smith<span> In </span><a href="">The best 2019 Games</a></h6>
                                                    <div class="lc-date">April 1,2019</div>
                                                </div>
                                            </div>
                                            <div class="lc-item">
                                                <img src="img/author-thumbs/2.jpg" alt="">
                                                <div class="lc-text">
                                                    <h6>Michael James<span> In </span><a href="">The best 2019 Games</a></h6>
                                                    <div class="lc-date">April 1,2019</div>
                                                </div>
                                            </div>
                                            <div class="lc-item">
                                                <img src="img/author-thumbs/3.jpg" alt="">
                                                <div class="lc-text">
                                                    <h6>Jane Smith<span> In </span><a href="">The best 2019 Games</a></h6>
                                                    <div class="lc-date">April 1,2019</div>
                                                </div>
                                            </div>
                                            <div class="lc-item">
                                                <img src="img/author-thumbs/4.jpg" alt="">
                                                <div class="lc-text">
                                                    <h6>Michael James<span> In </span><a href="">The best 2019 Games</a></h6>
                                                    <div class="lc-date">April 1,2019</div>
                                                </div>
                                            </div>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col" style="padding-left:4em; color: #10ddb4">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search}))
                        </div>
                    </div>

                </section>
                <!-- Blog section end -->
                <!-- Blog list section -->
                @*<section class="blog-list-section spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="small-blog-list">
                                        <div class="sb-item">
                                            <img src="img/blog-thumbs/6.jpg" alt="">
                                            <div class="sb-text">
                                                <div class="sb-date">April 1,2019</div>
                                                <h6>10 Amazing new games</h6>
                                                <div class="sb-metas">
                                                    <div class="sb-meta">By Admin</div>
                                                    <div class="sb-meta">in <a href="#">Games</a></div>
                                                    <div class="sb-meta">3 Comments</div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                                            </div>
                                        </div>
                                        <div class="sb-item">
                                            <img src="img/blog-thumbs/7.jpg" alt="">
                                            <div class="sb-text">
                                                <div class="sb-date">April 1,2019</div>
                                                <h6>10 Amazing new games</h6>
                                                <div class="sb-metas">
                                                    <div class="sb-meta">By Admin</div>
                                                    <div class="sb-meta">in <a href="#">Games</a></div>
                                                    <div class="sb-meta">3 Comments</div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                                            </div>
                                        </div>
                                        <div class="sb-item">
                                            <img src="img/blog-thumbs/8.jpg" alt="">
                                            <div class="sb-text">
                                                <div class="sb-date">April 1,2019</div>
                                                <h6>10 Amazing new games</h6>
                                                <div class="sb-metas">
                                                    <div class="sb-meta">By Admin</div>
                                                    <div class="sb-meta">in <a href="#">Games</a></div>
                                                    <div class="sb-meta">3 Comments</div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                                            </div>
                                        </div>
                                        <div class="sb-item">
                                            <img src="img/blog-thumbs/9.jpg" alt="">
                                            <div class="sb-text">
                                                <div class="sb-date">April 1,2019</div>
                                                <h6>10 Amazing new games</h6>
                                                <div class="sb-metas">
                                                    <div class="sb-meta">By Admin</div>
                                                    <div class="sb-meta">in <a href="#">Games</a></div>
                                                    <div class="sb-meta">3 Comments</div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="sb-widget">
                                        <h2 class="sb-title">Top 5 this week</h2>
                                        <div class="latest-news-widget top-five">
                                            <div class="ln-item">
                                                <div class="ln-index">01</div>
                                                <img src="img/blog-thumbs/1.jpg" alt="">
                                                <div class="ln-text">
                                                    <div class="ln-date">April 1, 2019</div>
                                                    <h6>10 Amazing new games</h6>
                                                    <div class="ln-metas">
                                                        <div class="ln-meta">By Admin</div>
                                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                                        <div class="ln-meta">3 Comments</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ln-item">
                                                <div class="ln-index">02</div>
                                                <img src="img/blog-thumbs/2.jpg" alt="">
                                                <div class="ln-text">
                                                    <div class="ln-date">April 1, 2019</div>
                                                    <h6>10 Amazing new games</h6>
                                                    <div class="ln-metas">
                                                        <div class="ln-meta">By Admin</div>
                                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                                        <div class="ln-meta">3 Comments</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ln-item">
                                                <div class="ln-index">03</div>
                                                <img src="img/blog-thumbs/3.jpg" alt="">
                                                <div class="ln-text">
                                                    <div class="ln-date">April 1, 2019</div>
                                                    <h6>10 Amazing new games</h6>
                                                    <div class="ln-metas">
                                                        <div class="ln-meta">By Admin</div>
                                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                                        <div class="ln-meta">3 Comments</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ln-item">
                                                <div class="ln-index">04</div>
                                                <img src="img/blog-thumbs/4.jpg" alt="">
                                                <div class="ln-text">
                                                    <div class="ln-date">April 1, 2019</div>
                                                    <h6>10 Amazing new games</h6>
                                                    <div class="ln-metas">
                                                        <div class="ln-meta">By Admin</div>
                                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                                        <div class="ln-meta">3 Comments</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ln-item">
                                                <div class="ln-index">05</div>
                                                <img src="img/blog-thumbs/5.jpg" alt="">
                                                <div class="ln-text">
                                                    <div class="ln-date">April 1, 2019</div>
                                                    <h6>10 Amazing new games</h6>
                                                    <div class="ln-metas">
                                                        <div class="ln-meta">By Admin</div>
                                                        <div class="ln-meta">in <a href="#">Games</a></div>
                                                        <div class="ln-meta">3 Comments</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>*@
                <!-- Blog list section end -->
                <!-- Video section -->
                @*<div class="video-section">
                    <div class="container">
                        <div class="video-logo">
                            <img src="img/logo-2.png" alt="">
                            <p>2018’s Best Game</p>
                        </div>
                        <div class="video-popup-warp">
                            <img src="img/video-bg.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=xzCEdSKMkdU" class="video-play"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>*@
                @*@foreach (var post in Model)
                {
                    @post.Title
                    @post.Abstract
                    @post.Created.ToString("MMM dd, yyyy")
                };*@
                @*replace all of the display data for this for blog*@
                <!-- Video section end -->
            </div>
        </div>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col" style="color: #10ddb4">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                </div>
            </div>
            </div>
        
    </div>
</section>